* {
    font-size: 20px;
    box-sizing: border-box;
}
p{
    font-size: 18px;
    margin: auto 4px;
}

h5{
    color: rgb(45, 109, 187);
}
button{
    padding: 7px 12px;
    border-radius: 3px;
    border: none;
    background-color: rgb(218, 194, 9);
    margin: 7px;
    font-size: 25px;
}
.explorepage {
    margin-top: 3100px;
}

h4{
    margin-top: 15px;
}

.cruisecontent {
    background-color: aliceblue;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-bottom: 20px;
   
    justify-content: center;
}
span{
    color: rgb(116, 116, 116);
    font-weight: 500;
    font-size: 25px;
}

.cruise-col1 {
    width: 60%;
   margin-left: 45px;
    padding-right: 20px;
    margin-top: 30px;
}


.cruise-col1 h2 {
    margin-top: 10px;
}
.Additional{
    margin-bottom: 10px;
}

.cruise-col1 .description {
    margin-top: 5px;
}

.cruise-col2 {
    padding-left: 70px;
    width: 40%;
    margin-top: 30px;
    
}
.cruisecontent ul {
    list-style-type: none;
    padding-left: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Align list items in a row */
    flex-wrap: wrap; /* Allow items to wrap if needed */
}

.add-ons {
    background-color: rgba(45, 211, 233, 0.2); /* Transparent brown background */
    padding: 10px; /* Optional: Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners if desired */
    border: 2px solid rgb(0, 136, 255);
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

.add-ons h6 {
    margin: 5px 0; /* Adjust margin as needed */
    font-size: 20px;
  }
  
  .add-ons h6 span {
    color: rgb(23, 31, 85); /* Color for "FREE" text */
    font-size: 20px;  
}
  
  .add-ons h6 {
    color: rgb(88, 81, 81); /* Color for the rest of the text */
  }
  .special-offer{
    background-color: rgba(233, 45, 211, 0.23); /* Transparent brown background */
    padding: 10px; /* Optional: Adjust padding as needed */
    border-radius: 5px; /* Optional: Add rounded corners if desired */
    border: 2px solid rgb(246, 126, 232);
    margin-right: 60px;
    margin-bottom: 20px;
  }
  .special-offer h5{
    color: rgb(208, 43, 226);
  }

  @media only screen and (min-width:460px) and (max-width: 760px){
    .explorepage{
        margin-top: 310rem;
    }
    .cruisecontent{
       
        display: flex;
        flex-direction: column;
    }
    .cruise-col1 {
        width: 100%;
        margin: 20px;
        margin-top: 30px;
    }
    .cruise-col2 {
        padding-left: 20px;
        width: 100%;
        margin-top: 30px;
        
    }
  }
  @media only screen and (max-width: 460px) {
    .explorepage{
        margin-top: 366rem;
    }
    .cruisecontent{
       
        display: flex;
        flex-direction: column;
    }
    .cruise-col1 {
        width: 100%;
        margin: 20px;
        margin-top: 30px;
    }
    .cruise-col2 {
        padding-left: 20px;
        width: 100%;
        margin-top: 30px;
        
    }
  }
  